In [1]:
#importamos las librerías necesarias
import pandas as pd

FUNCIÓN PARA IMPRIMIR LAS URL Y LAS VARIABLES

In [2]:
def load_and_print_concatenation(start_year, end_year, letter_type, url_replace):
    # Lista para almacenar los nombres de los dataframes por año
    df_names_by_year = []

    # Iterar sobre el rango de años
    for year in range(start_year, end_year + 1):
        # Lista para almacenar los nombres de los dataframes para este año
        df_names_this_year = []

        # Iterar sobre los 12 meses
        for month in range(1, 13):
            # Formatear el número del mes con dos dígitos
            month_str = f"{month:02d}"
            # Construir el sufijo del año
            year_suffix = str(year)[-2:]
            # Construir el nombre de la URL y la variable
            url_var_name = f"url_{month}_{year_suffix}"
            df_var_name = f"{letter_type}_{month}_{year_suffix}"
            # Construir la URL para el mes actual
            url = f"https://d37ci6vzurychx.cloudfront.net/trip-data/{url_replace}_tripdata_{year}-{month_str}.parquet"
            # Imprimir la URL
            print(f"{url_var_name} = \"{url}\"")
            # Imprimir la lectura del dataframe
            print(f"{df_var_name} = pd.read_parquet({url_var_name})")
            # Agregar el nombre del dataframe a la lista de este año
            df_names_this_year.append(df_var_name)

        # Agregar la lista de nombres de dataframes de este año a la lista principal
        df_names_by_year.append(df_names_this_year)

    # Imprimir cómo se concatenarían los dataframes por año
    for year, df_names_this_year in zip(range(start_year, end_year + 1), df_names_by_year):
        df_year_var_name = f"df_{year}_{letter_type}"
        print(f"{df_year_var_name} = pd.concat([{', '.join(df_name for df_name in df_names_this_year)}], ignore_index=True)")

#imprimimos las variables 
load_and_print_concatenation(2018, 2023, 'g', 'green')

url_1_18 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2018-01.parquet"
g_1_18 = pd.read_parquet(url_1_18)
url_2_18 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2018-02.parquet"
g_2_18 = pd.read_parquet(url_2_18)
url_3_18 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2018-03.parquet"
g_3_18 = pd.read_parquet(url_3_18)
url_4_18 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2018-04.parquet"
g_4_18 = pd.read_parquet(url_4_18)
url_5_18 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2018-05.parquet"
g_5_18 = pd.read_parquet(url_5_18)
url_6_18 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2018-06.parquet"
g_6_18 = pd.read_parquet(url_6_18)
url_7_18 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2018-07.parquet"
g_7_18 = pd.read_parquet(url_7_18)
url_8_18 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2018-08.parquet"
g_8_18 = pd.read_parquet(url_8_18)
url_9_18 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2018-09.parquet"
g_9_18 = pd.read_parquet(url_9_18)
url_10_18 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2018-10.parquet"
g_10_18 = pd.read_parquet(url_10_18)
url_11_18 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2018-11.parquet"
g_11_18 = pd.read_parquet(url_11_18)
url_12_18 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2018-12.parquet"
g_12_18 = pd.read_parquet(url_12_18)
url_1_19 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2019-01.parquet"
g_1_19 = pd.read_parquet(url_1_19)
url_2_19 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2019-02.parquet"
g_2_19 = pd.read_parquet(url_2_19)
url_3_19 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2019-03.parquet"
g_3_19 = pd.read_parquet(url_3_19)
url_4_19 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2019-04.parquet"
g_4_19 = pd.read_parquet(url_4_19)
url_5_19 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2019-05.parquet"
g_5_19 = pd.read_parquet(url_5_19)
url_6_19 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2019-06.parquet"
g_6_19 = pd.read_parquet(url_6_19)
url_7_19 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2019-07.parquet"
g_7_19 = pd.read_parquet(url_7_19)
url_8_19 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2019-08.parquet"
g_8_19 = pd.read_parquet(url_8_19)
url_9_19 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2019-09.parquet"
g_9_19 = pd.read_parquet(url_9_19)
url_10_19 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2019-10.parquet"
g_10_19 = pd.read_parquet(url_10_19)
url_11_19 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2019-11.parquet"
g_11_19 = pd.read_parquet(url_11_19)
url_12_19 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2019-12.parquet"
g_12_19 = pd.read_parquet(url_12_19)
url_1_20 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2020-01.parquet"
g_1_20 = pd.read_parquet(url_1_20)
url_2_20 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2020-02.parquet"
g_2_20 = pd.read_parquet(url_2_20)
url_3_20 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2020-03.parquet"
g_3_20 = pd.read_parquet(url_3_20)
url_4_20 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2020-04.parquet"
g_4_20 = pd.read_parquet(url_4_20)
url_5_20 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2020-05.parquet"
g_5_20 = pd.read_parquet(url_5_20)
url_6_20 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2020-06.parquet"
g_6_20 = pd.read_parquet(url_6_20)
url_7_20 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2020-07.parquet"
g_7_20 = pd.read_parquet(url_7_20)
url_8_20 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2020-08.parquet"
g_8_20 = pd.read_parquet(url_8_20)
url_9_20 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2020-09.parquet"
g_9_20 = pd.read_parquet(url_9_20)
url_10_20 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2020-10.parquet"
g_10_20 = pd.read_parquet(url_10_20)
url_11_20 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2020-11.parquet"
g_11_20 = pd.read_parquet(url_11_20)
url_12_20 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2020-12.parquet"
g_12_20 = pd.read_parquet(url_12_20)
url_1_21 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2021-01.parquet"
g_1_21 = pd.read_parquet(url_1_21)
url_2_21 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2021-02.parquet"
g_2_21 = pd.read_parquet(url_2_21)
url_3_21 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2021-03.parquet"
g_3_21 = pd.read_parquet(url_3_21)
url_4_21 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2021-04.parquet"
g_4_21 = pd.read_parquet(url_4_21)
url_5_21 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2021-05.parquet"
g_5_21 = pd.read_parquet(url_5_21)
url_6_21 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2021-06.parquet"
g_6_21 = pd.read_parquet(url_6_21)
url_7_21 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2021-07.parquet"
g_7_21 = pd.read_parquet(url_7_21)
url_8_21 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2021-08.parquet"
g_8_21 = pd.read_parquet(url_8_21)
url_9_21 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2021-09.parquet"
g_9_21 = pd.read_parquet(url_9_21)
url_10_21 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2021-10.parquet"
g_10_21 = pd.read_parquet(url_10_21)
url_11_21 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2021-11.parquet"
g_11_21 = pd.read_parquet(url_11_21)
url_12_21 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2021-12.parquet"
g_12_21 = pd.read_parquet(url_12_21)
url_1_22 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2022-01.parquet"
g_1_22 = pd.read_parquet(url_1_22)
url_2_22 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2022-02.parquet"
g_2_22 = pd.read_parquet(url_2_22)
url_3_22 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2022-03.parquet"
g_3_22 = pd.read_parquet(url_3_22)
url_4_22 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2022-04.parquet"
g_4_22 = pd.read_parquet(url_4_22)
url_5_22 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2022-05.parquet"
g_5_22 = pd.read_parquet(url_5_22)
url_6_22 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2022-06.parquet"
g_6_22 = pd.read_parquet(url_6_22)
url_7_22 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2022-07.parquet"
g_7_22 = pd.read_parquet(url_7_22)
url_8_22 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2022-08.parquet"
g_8_22 = pd.read_parquet(url_8_22)
url_9_22 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2022-09.parquet"
g_9_22 = pd.read_parquet(url_9_22)
url_10_22 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2022-10.parquet"
g_10_22 = pd.read_parquet(url_10_22)
url_11_22 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2022-11.parquet"
g_11_22 = pd.read_parquet(url_11_22)
url_12_22 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2022-12.parquet"
g_12_22 = pd.read_parquet(url_12_22)
url_1_23 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2023-01.parquet"
g_1_23 = pd.read_parquet(url_1_23)
url_2_23 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2023-02.parquet"
g_2_23 = pd.read_parquet(url_2_23)
url_3_23 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2023-03.parquet"
g_3_23 = pd.read_parquet(url_3_23)
url_4_23 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2023-04.parquet"
g_4_23 = pd.read_parquet(url_4_23)
url_5_23 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2023-05.parquet"
g_5_23 = pd.read_parquet(url_5_23)
url_6_23 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2023-06.parquet"
g_6_23 = pd.read_parquet(url_6_23)
url_7_23 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2023-07.parquet"
g_7_23 = pd.read_parquet(url_7_23)
url_8_23 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2023-08.parquet"
g_8_23 = pd.read_parquet(url_8_23)
url_9_23 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2023-09.parquet"
g_9_23 = pd.read_parquet(url_9_23)
url_10_23 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2023-10.parquet"
g_10_23 = pd.read_parquet(url_10_23)
url_11_23 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2023-11.parquet"
g_11_23 = pd.read_parquet(url_11_23)
url_12_23 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2023-12.parquet"
g_12_23 = pd.read_parquet(url_12_23)
df_2018_g = pd.concat([g_1_18, g_2_18, g_3_18, g_4_18, g_5_18, g_6_18, g_7_18, g_8_18, g_9_18, g_10_18, g_11_18, g_12_18], ignore_index=True)
df_2019_g = pd.concat([g_1_19, g_2_19, g_3_19, g_4_19, g_5_19, g_6_19, g_7_19, g_8_19, g_9_19, g_10_19, g_11_19, g_12_19], ignore_index=True)
df_2020_g = pd.concat([g_1_20, g_2_20, g_3_20, g_4_20, g_5_20, g_6_20, g_7_20, g_8_20, g_9_20, g_10_20, g_11_20, g_12_20], ignore_index=True)
df_2021_g = pd.concat([g_1_21, g_2_21, g_3_21, g_4_21, g_5_21, g_6_21, g_7_21, g_8_21, g_9_21, g_10_21, g_11_21, g_12_21], ignore_index=True)
df_2022_g = pd.concat([g_1_22, g_2_22, g_3_22, g_4_22, g_5_22, g_6_22, g_7_22, g_8_22, g_9_22, g_10_22, g_11_22, g_12_22], ignore_index=True)
df_2023_g = pd.concat([g_1_23, g_2_23, g_3_23, g_4_23, g_5_23, g_6_23, g_7_23, g_8_23, g_9_23, g_10_23, g_11_23, g_12_23], ignore_index=True)

In [39]:
#leemos los datasets desde la url y los guardamos en un DF
url_1_18 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2018-01.parquet"
g_1_18 = pd.read_parquet(url_1_18)
url_2_18 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2018-02.parquet"
g_2_18 = pd.read_parquet(url_2_18)
url_3_18 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2018-03.parquet"
g_3_18 = pd.read_parquet(url_3_18)
url_4_18 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2018-04.parquet"
g_4_18 = pd.read_parquet(url_4_18)
url_5_18 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2018-05.parquet"
g_5_18 = pd.read_parquet(url_5_18)
url_6_18 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2018-06.parquet"
g_6_18 = pd.read_parquet(url_6_18)
url_7_18 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2018-07.parquet"
g_7_18 = pd.read_parquet(url_7_18)
url_8_18 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2018-08.parquet"
g_8_18 = pd.read_parquet(url_8_18)
url_9_18 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2018-09.parquet"
g_9_18 = pd.read_parquet(url_9_18)
url_10_18 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2018-10.parquet"
g_10_18 = pd.read_parquet(url_10_18)
url_11_18 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2018-11.parquet"
g_11_18 = pd.read_parquet(url_11_18)
url_12_18 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2018-12.parquet"
g_12_18 = pd.read_parquet(url_12_18)
url_1_19 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2019-01.parquet"
g_1_19 = pd.read_parquet(url_1_19)
url_2_19 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2019-02.parquet"
g_2_19 = pd.read_parquet(url_2_19)
url_3_19 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2019-03.parquet"
g_3_19 = pd.read_parquet(url_3_19)
url_4_19 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2019-04.parquet"
g_4_19 = pd.read_parquet(url_4_19)
url_5_19 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2019-05.parquet"
g_5_19 = pd.read_parquet(url_5_19)
url_6_19 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2019-06.parquet"
g_6_19 = pd.read_parquet(url_6_19)
url_7_19 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2019-07.parquet"
g_7_19 = pd.read_parquet(url_7_19)
url_8_19 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2019-08.parquet"
g_8_19 = pd.read_parquet(url_8_19)
url_9_19 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2019-09.parquet"
g_9_19 = pd.read_parquet(url_9_19)
url_10_19 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2019-10.parquet"
g_10_19 = pd.read_parquet(url_10_19)
url_11_19 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2019-11.parquet"
g_11_19 = pd.read_parquet(url_11_19)
url_12_19 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2019-12.parquet"
g_12_19 = pd.read_parquet(url_12_19)
url_1_20 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2020-01.parquet"
g_1_20 = pd.read_parquet(url_1_20)
url_2_20 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2020-02.parquet"
g_2_20 = pd.read_parquet(url_2_20)
url_3_20 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2020-03.parquet"
g_3_20 = pd.read_parquet(url_3_20)
url_4_20 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2020-04.parquet"
g_4_20 = pd.read_parquet(url_4_20)
url_5_20 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2020-05.parquet"
g_5_20 = pd.read_parquet(url_5_20)
url_6_20 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2020-06.parquet"
g_6_20 = pd.read_parquet(url_6_20)
url_7_20 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2020-07.parquet"
g_7_20 = pd.read_parquet(url_7_20)
url_8_20 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2020-08.parquet"
g_8_20 = pd.read_parquet(url_8_20)
url_9_20 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2020-09.parquet"
g_9_20 = pd.read_parquet(url_9_20)
url_10_20 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2020-10.parquet"
g_10_20 = pd.read_parquet(url_10_20)
url_11_20 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2020-11.parquet"
g_11_20 = pd.read_parquet(url_11_20)
url_12_20 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2020-12.parquet"
g_12_20 = pd.read_parquet(url_12_20)
url_1_21 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2021-01.parquet"
g_1_21 = pd.read_parquet(url_1_21)
url_2_21 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2021-02.parquet"
g_2_21 = pd.read_parquet(url_2_21)
url_3_21 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2021-03.parquet"
g_3_21 = pd.read_parquet(url_3_21)
url_4_21 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2021-04.parquet"
g_4_21 = pd.read_parquet(url_4_21)
url_5_21 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2021-05.parquet"
g_5_21 = pd.read_parquet(url_5_21)
url_6_21 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2021-06.parquet"
g_6_21 = pd.read_parquet(url_6_21)
url_7_21 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2021-07.parquet"
g_7_21 = pd.read_parquet(url_7_21)
url_8_21 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2021-08.parquet"
g_8_21 = pd.read_parquet(url_8_21)
url_9_21 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2021-09.parquet"
g_9_21 = pd.read_parquet(url_9_21)
url_10_21 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2021-10.parquet"
g_10_21 = pd.read_parquet(url_10_21)
url_11_21 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2021-11.parquet"
g_11_21 = pd.read_parquet(url_11_21)
url_12_21 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2021-12.parquet"
g_12_21 = pd.read_parquet(url_12_21)
url_1_22 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2022-01.parquet"
g_1_22 = pd.read_parquet(url_1_22)
url_2_22 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2022-02.parquet"
g_2_22 = pd.read_parquet(url_2_22)
url_3_22 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2022-03.parquet"
g_3_22 = pd.read_parquet(url_3_22)
url_4_22 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2022-04.parquet"
g_4_22 = pd.read_parquet(url_4_22)
url_5_22 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2022-05.parquet"
g_5_22 = pd.read_parquet(url_5_22)
url_6_22 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2022-06.parquet"
g_6_22 = pd.read_parquet(url_6_22)
url_7_22 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2022-07.parquet"
g_7_22 = pd.read_parquet(url_7_22)
url_8_22 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2022-08.parquet"
g_8_22 = pd.read_parquet(url_8_22)
url_9_22 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2022-09.parquet"
g_9_22 = pd.read_parquet(url_9_22)
url_10_22 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2022-10.parquet"
g_10_22 = pd.read_parquet(url_10_22)
url_11_22 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2022-11.parquet"
g_11_22 = pd.read_parquet(url_11_22)
url_12_22 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2022-12.parquet"
g_12_22 = pd.read_parquet(url_12_22)
url_1_23 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2023-01.parquet"
g_1_23 = pd.read_parquet(url_1_23)
url_2_23 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2023-02.parquet"
g_2_23 = pd.read_parquet(url_2_23)
url_3_23 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2023-03.parquet"
g_3_23 = pd.read_parquet(url_3_23)
url_4_23 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2023-04.parquet"
g_4_23 = pd.read_parquet(url_4_23)
url_5_23 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2023-05.parquet"
g_5_23 = pd.read_parquet(url_5_23)
url_6_23 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2023-06.parquet"
g_6_23 = pd.read_parquet(url_6_23)
url_7_23 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2023-07.parquet"
g_7_23 = pd.read_parquet(url_7_23)
url_8_23 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2023-08.parquet"
g_8_23 = pd.read_parquet(url_8_23)
url_9_23 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2023-09.parquet"
g_9_23 = pd.read_parquet(url_9_23)
url_10_23 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2023-10.parquet"
g_10_23 = pd.read_parquet(url_10_23)
url_11_23 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2023-11.parquet"
g_11_23 = pd.read_parquet(url_11_23)
url_12_23 = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2023-12.parquet"
g_12_23 = pd.read_parquet(url_12_23)

In [40]:
#concatenamos los Datasets para obtener uno por año 
df_2018_g = pd.concat([g_1_18, g_2_18, g_3_18, g_4_18, g_5_18, g_6_18, g_7_18, g_8_18, g_9_18, g_10_18, g_11_18, g_12_18], ignore_index=True)
df_2019_g = pd.concat([g_1_19, g_2_19, g_3_19, g_4_19, g_5_19, g_6_19, g_7_19, g_8_19, g_9_19, g_10_19, g_11_19, g_12_19], ignore_index=True)
df_2020_g = pd.concat([g_1_20, g_2_20, g_3_20, g_4_20, g_5_20, g_6_20, g_7_20, g_8_20, g_9_20, g_10_20, g_11_20, g_12_20], ignore_index=True)
df_2021_g = pd.concat([g_1_21, g_2_21, g_3_21, g_4_21, g_5_21, g_6_21, g_7_21, g_8_21, g_9_21, g_10_21, g_11_21, g_12_21], ignore_index=True)
df_2022_g = pd.concat([g_1_22, g_2_22, g_3_22, g_4_22, g_5_22, g_6_22, g_7_22, g_8_22, g_9_22, g_10_22, g_11_22, g_12_22], ignore_index=True)
df_2023_g = pd.concat([g_1_23, g_2_23, g_3_23, g_4_23, g_5_23, g_6_23, g_7_23, g_8_23, g_9_23, g_10_23, g_11_23, g_12_23], ignore_index=True)

C:\Users\Potato\AppData\Local\Temp\ipykernel_18600\492811796.py:2: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_2018_g = pd.concat([g_1_18, g_2_18, g_3_18, g_4_18, g_5_18, g_6_18, g_7_18, g_8_18, g_9_18, g_10_18, g_11_18, g_12_18], ignore_index=True)
C:\Users\Potato\AppData\Local\Temp\ipykernel_18600\492811796.py:3: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_2019_g = pd.concat([g_1_19, g_2_19, g_3_19, g_4_19, g_5_19, g_6_19, g_7_19, g_8_19, g_9_19, g_10_19, g_11_19, g_12_19], ignore_index=True)

In [41]:
#liberamos espacio
del g_1_18, g_2_18, g_3_18, g_4_18, g_5_18, g_6_18, g_7_18, g_8_18, g_9_18, g_10_18, g_11_18, g_12_18
del g_1_19, g_2_19, g_3_19, g_4_19, g_5_19, g_6_19, g_7_19, g_8_19, g_9_19, g_10_19, g_11_19, g_12_19
del g_1_20, g_2_20, g_3_20, g_4_20, g_5_20, g_6_20, g_7_20, g_8_20, g_9_20, g_10_20, g_11_20, g_12_20
del g_1_21, g_2_21, g_3_21, g_4_21, g_5_21, g_6_21, g_7_21, g_8_21, g_9_21, g_10_21, g_11_21, g_12_21
del g_1_22, g_2_22, g_3_22, g_4_22, g_5_22, g_6_22, g_7_22, g_8_22, g_9_22, g_10_22, g_11_22, g_12_22
del g_1_23, g_2_23, g_3_23, g_4_23, g_5_23, g_6_23, g_7_23, g_8_23, g_9_23, g_10_23, g_11_23, g_12_23

FUNCION PARA VALIDAR SI EL AÑO ES CORRECTO DE LO CONTRARIO ELIMINARLO

In [43]:
def ajuste_anio(df, year):
   
    # Filtrar las filas donde las fechas no coinciden con el año del df
    df = df[(df['lpep_pickup_datetime'].dt.year == year) & (df['lpep_dropoff_datetime'].dt.year == year)]

    # Reestablecemos los indices
    df.reset_index(drop=True, inplace=True)
    return df
# Aplicar la función a cada DataFrame

df_2018_g = ajuste_anio(df_2018_g,2018)
df_2019_g = ajuste_anio(df_2019_g,2019)
df_2020_g = ajuste_anio(df_2020_g,2020)
df_2021_g = ajuste_anio(df_2021_g,2021)
df_2022_g = ajuste_anio(df_2022_g,2022)
df_2023_g = ajuste_anio(df_2023_g,2023)

CONCATENAMOS LOS AÑOS 2018 a 2021 y los años 2022 a 2023 en un solo datasets

In [49]:
# Concatenamos  los dataframes del año 2018 a 2021 en uno solo
df_green_trip_data_2018_2021 = pd.concat([
    df_2018_g, df_2019_g, df_2020_g, df_2021_g], ignore_index=True)

C:\Users\Potato\AppData\Local\Temp\ipykernel_18600\394737645.py:2: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_green_trip_data_2018_2021 = pd.concat([

In [50]:
#Concatenamos los DF del año 2022 a 2023 en uno solo
df_green_trip_data_2022_2023 = pd.concat([df_2022_g,df_2023_g], ignore_index=True)

In [53]:
#liberamos memoria
del df_2023_g
del df_2021_g
del df_2019_g
del df_2020_g
del df_2018_g
del df_2022_g

ELIMINAMOS COLUMNAS INNECESARIAS

In [54]:
#FUNCION PARA ELIMINAR COLUMNAS DEL DATASETS TRIP_DATA_2018_2021
def eliminar_columnas(df):
    columnas_eliminar = ['VendorID', 'store_and_fwd_flag', 'RatecodeID',
                         'fare_amount', 'extra', 'mta_tax', 'tip_amount', 'tolls_amount',
                         'ehail_fee', 'improvement_surcharge', 'payment_type', 'trip_type']
    return df.drop(columns=columnas_eliminar, errors='ignore')

df_green_trip_data_2018_2021 = eliminar_columnas(df_green_trip_data_2018_2021)

In [55]:
#eliminamos columnas que no ser usaran en data 2022-2023
df_green_trip_data_2022_2023.drop(columns=['ehail_fee','VendorID'], inplace=True)

ELIMINAMOS NEGATIVOS EN 'total_amount'

In [56]:
#solamente para este df
df_green_trip_data_2018_2021.loc[df_green_trip_data_2018_2021['total_amount'] <0]

,lpep_pickup_datetime,lpep_dropoff_datetime,PULocationID,DOLocationID,passenger_count,trip_distance,total_amount,congestion_surcharge
3,2018-01-01 00:32:40,2018-01-01 00:33:41,255,255,1.0,0.03,-4.30,NaN
697,2018-01-01 00:04:03,2018-01-01 00:06:13,82,82,1.0,0.24,-4.80,NaN
751,2018-01-01 00:14:18,2018-01-01 00:16:12,112,112,1.0,0.34,-4.80,NaN
775,2018-01-01 00:56:21,2018-01-01 00:56:28,130,130,1.0,0.04,-3.80,NaN
823,2018-01-01 00:12:22,2018-01-01 00:13:25,97,25,1.0,0.23,-4.30,NaN
...,...,...,...,...,...,...,...,...
17980650,2021-12-04 02:50:00,2021-12-04 02:59:00,42,43,NaN,1.61,-13.71,NaN
17986603,2021-12-10 07:59:00,2021-12-10 08:02:00,76,76,NaN,0.00,-24.69,NaN
17992491,2021-12-15 22:49:00,2021-12-15 23:02:00,41,42,NaN,1.98,-15.00,NaN
17999846,2021-12-24 17:59:00,2021-12-24 18:46:00,141,132,NaN,0.40,-88.33,NaN
18000798,2021-12-26 16:32:00,2021-12-26 16:34:00,95,28,NaN,0.93,-23.82,NaN

In [57]:
#se tomó la decisión de eliminar las filas con negativos en esta columna ya que son devoluciones
df_green_trip_data_2018_2021.drop(df_green_trip_data_2018_2021.loc[df_green_trip_data_2018_2021['total_amount'] <0].index, inplace= True)
# Reiniciar los índices del DataFrame después de eliminar filas
df_green_trip_data_2018_2021.reset_index(drop=True, inplace=True)
#verificamos si se borraron los negativos de la columna
df_green_trip_data_2018_2021.loc[df_green_trip_data_2018_2021['total_amount'] <0]

Empty DataFrame
Columns: [lpep_pickup_datetime, lpep_dropoff_datetime, PULocationID, DOLocationID, passenger_count, trip_distance, total_amount, congestion_surcharge]
Index: []

In [58]:
#eliminamos 'total_amount' ya que para fines de este datasets no nos será de ayuda
df_green_trip_data_2018_2021.drop(columns='total_amount', inplace=True)

In [59]:
df_green_trip_data_2022_2023.columns

Index(['lpep_pickup_datetime', 'lpep_dropoff_datetime', 'store_and_fwd_flag',
       'RatecodeID', 'PULocationID', 'DOLocationID', 'passenger_count',
       'trip_distance', 'fare_amount', 'extra', 'mta_tax', 'tip_amount',
       'tolls_amount', 'improvement_surcharge', 'total_amount', 'payment_type',
       'trip_type', 'congestion_surcharge'],
      dtype='object')

LLENAMOS LOS NULOS CON CEROS

In [60]:
#cero se tomará como NA
df_green_trip_data_2022_2023['RatecodeID'].fillna(0, inplace=True)
#cero se tomará como NA
df_green_trip_data_2022_2023['payment_type'].fillna(0, inplace=True)
#cero se tomará como NA
df_green_trip_data_2022_2023['trip_type'].fillna(0, inplace=True)
df_green_trip_data_2022_2023['passenger_count'].fillna(0, inplace=True)
df_green_trip_data_2022_2023['congestion_surcharge'].fillna(0,inplace=True)
df_green_trip_data_2018_2021['passenger_count'].fillna(0,inplace=True)
df_green_trip_data_2018_2021['congestion_surcharge'].fillna(0,inplace=True)

FUNCION PARA EXTRAER LAS FECHAS Y AGREGAR LAS COLUMNAS PARA AÑO, MES Y DIA_INICIO, DIA_FIN Y HORA _INICIO  HORA_FIN

In [61]:
def separar_columnas_fecha(df, columna_partida, columna_destino):
   

    # Separar las columnas de fecha y hora en componentes individuales
    df['anio'] = df[columna_partida].dt.year
    df['mes'] = df[columna_partida].dt.month
    df['dia_inicio'] = df[columna_partida].dt.day
    df['hora_inicio'] = df[columna_partida].dt.time
    
    df['dia_fin'] = df[columna_partida].dt.day
    df['hora_fin'] = df[columna_destino].dt.time
    #df = df.reindex(columns=column_order)
    return df

In [62]:
#implementamos la función anterior
df_green_trip_data_2018_2021 = separar_columnas_fecha(df_green_trip_data_2018_2021,'lpep_pickup_datetime','lpep_dropoff_datetime')
df_green_trip_data_2022_2023 = separar_columnas_fecha(df_green_trip_data_2022_2023,'lpep_pickup_datetime', 'lpep_dropoff_datetime')

In [63]:
#verificamos que se agregaron correctamente los resultados
df_green_trip_data_2022_2023.head(2)

,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,...,total_amount,payment_type,trip_type,congestion_surcharge,anio,mes,dia_inicio,hora_inicio,dia_fin,hora_fin
0,2022-01-01 00:14:21,2022-01-01 00:15:33,N,1.0,42,42,1.0,0.44,3.5,0.5,...,4.8,2.0,1.0,0.0,2022,1,1,00:14:21,1,00:15:33
1,2022-01-01 00:20:55,2022-01-01 00:29:38,N,1.0,116,41,1.0,2.10,9.5,0.5,...,10.8,2.0,1.0,0.0,2022,1,1,00:20:55,1,00:29:38

In [64]:
#verificamos que se agregaron correctamente los resultados
df_green_trip_data_2018_2021.head(3)

,lpep_pickup_datetime,lpep_dropoff_datetime,PULocationID,DOLocationID,passenger_count,trip_distance,congestion_surcharge,anio,mes,dia_inicio,hora_inicio,dia_fin,hora_fin
0,2018-01-01 00:18:50,2018-01-01 00:24:39,236,236,5.0,0.70,0.0,2018,1,1,00:18:50,1,00:24:39
1,2018-01-01 00:30:26,2018-01-01 00:46:42,43,42,5.0,3.50,0.0,2018,1,1,00:30:26,1,00:46:42
2,2018-01-01 00:07:25,2018-01-01 00:19:45,74,152,1.0,2.14,0.0,2018,1,1,00:07:25,1,00:19:45

FUNCION PARA AGREGAR LA COLUMNA 'total_tiempo'

In [65]:
#funcion que agrega columna de tiempo de viaje y a la vez se eliminan las columnas 'lpep_dropoff_datetime' y 'lpep_pickup_datetime'
def calcular_tiempo_total_de_viaje(df):
    # Calcula la diferencia entre la columna de dropoff y pickup para obtener el tiempo de viaje
    df['tiempo'] = df['lpep_dropoff_datetime'] - df['lpep_pickup_datetime']
    
    # Extrae los componentes de tiempo: horas, minutos y segundos
    df['horas'] = df['tiempo'].dt.components['hours']
    df['minutos'] = df['tiempo'].dt.components['minutes']
    df['segundos'] = df['tiempo'].dt.components['seconds']
    # Combina las columnas de horas, minutos y segundos en una sola columna
    df['total_tiempo'] = df['horas'].astype(str).str.zfill(2) + ':' + df['minutos'].astype(str).str.zfill(2) + ':' + df['segundos'].astype(str).str.zfill(2)
    df.drop(columns=['tiempo','horas','minutos', 'segundos','lpep_dropoff_datetime','lpep_pickup_datetime'],inplace= True)
    return df

In [66]:
#llamamos a la función calcular_tiempo_de_viaje
df_green_trip_data_2018_2021 = calcular_tiempo_total_de_viaje(df_green_trip_data_2018_2021)
df_green_trip_data_2022_2023 = calcular_tiempo_total_de_viaje(df_green_trip_data_2022_2023)

In [67]:
#verificamos 
df_green_trip_data_2018_2021.head()

,PULocationID,DOLocationID,passenger_count,trip_distance,congestion_surcharge,anio,mes,dia_inicio,hora_inicio,dia_fin,hora_fin,total_tiempo
0,236,236,5.0,0.70,0.0,2018,1,1,00:18:50,1,00:24:39,00:05:49
1,43,42,5.0,3.50,0.0,2018,1,1,00:30:26,1,00:46:42,00:16:16
2,74,152,1.0,2.14,0.0,2018,1,1,00:07:25,1,00:19:45,00:12:20
3,255,255,1.0,0.03,0.0,2018,1,1,00:32:40,1,00:33:41,00:01:01
4,255,161,1.0,5.63,0.0,2018,1,1,00:38:35,1,01:08:50,00:30:15

FUNCION PARA AGREGAR COLUMNA DE IDENTIFICADOR UNICO 'viaje_Id' (CLAVE SUBRROGADA)

In [68]:
#funcion 
def generar_id(row):
    fila = row.name + 1  # Obtener el número de fila
    mes = row['mes']  # Obtener el mes actual de la columna 'mes'
    return f"{fila:013}{mes:02}"  # Formar el ID sin guion y con ceros a la izquierda

In [69]:
#llamamos a la función para el df del 2022-2023, ya que se decidió implementarla unicamente en este datasets
df_green_trip_data_2022_2023.insert(0,'viaje_Id', df_green_trip_data_2022_2023.apply(generar_id,axis=1))
df_green_trip_data_2022_2023.loc[df_green_trip_data_2022_2023['mes'] == 2]

,viaje_Id,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,...,payment_type,trip_type,congestion_surcharge,anio,mes,dia_inicio,hora_inicio,dia_fin,hora_fin,total_tiempo
62491,000000006249202,N,1.0,43,238,1.0,1.16,5.5,0.5,0.5,...,1.0,1.0,0.00,2022,2,1,00:20:21,1,00:24:30,00:04:09
62492,000000006249302,N,1.0,166,24,1.0,0.57,4.5,0.5,0.5,...,2.0,1.0,0.00,2022,2,1,00:32:26,1,00:35:31,00:03:05
62493,000000006249402,N,1.0,226,219,1.0,0.00,42.2,0.0,0.5,...,1.0,1.0,0.00,2022,2,1,00:17:27,1,00:44:44,00:27:17
62494,000000006249502,N,1.0,89,83,1.0,16.62,49.0,0.5,0.5,...,2.0,1.0,0.00,2022,2,1,00:45:37,1,01:27:16,00:41:39
62495,000000006249602,N,1.0,7,238,1.0,5.97,21.0,0.5,0.5,...,1.0,1.0,2.75,2022,2,1,00:06:46,1,00:30:06,00:23:20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
980951,000000098095202,N,1.0,92,203,1.0,14.44,60.4,1.0,0.5,...,1.0,1.0,0.00,2023,2,25,18:12:52,25,18:50:05,00:37:13
981222,000000098122302,N,1.0,92,180,1.0,10.64,40.8,0.0,0.5,...,1.0,1.0,0.00,2023,2,26,01:54:51,26,02:11:17,00:16:26
981338,000000098133902,N,1.0,92,53,1.0,2.14,12.1,0.0,0.5,...,1.0,1.0,0.00,2023,2,26,02:37:27,26,02:44:40,00:07:13
981450,000000098145102,N,5.0,92,264,1.0,0.00,12.0,0.0,0.0,...,1.0,2.0,0.00,2023,2,26,03:17:26,26,03:17:29,00:00:03
983093,000000098309402,N,1.0,92,192,1.0,1.95,12.8,1.0,0.5,...,2.0,1.0,0.00,2023,2,26,20:03:16,26,20:14:55,00:11:39

FUNCION PARA AGREGAR LA COLUMNA 'tipo_color'

In [70]:
def asignar_color(df_viajes):
    def asignar_color_por_location(location):
        if location not in [264, 265]:
            return 'Green'
        else:
            return 'ND'

    df_viajes['tipo_color'] = df_viajes['PULocationID'].apply(asignar_color_por_location)
    return df_viajes

In [71]:
#llamamos a la funcion para asignar color 
df_green_trip_data_2018_2021 = asignar_color(df_green_trip_data_2018_2021)
df_green_trip_data_2022_2023 = asignar_color(df_green_trip_data_2022_2023)

In [72]:
#verificamos los cambios
df_green_trip_data_2022_2023.head()

,viaje_Id,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,...,trip_type,congestion_surcharge,anio,mes,dia_inicio,hora_inicio,dia_fin,hora_fin,total_tiempo,tipo_color
0,000000000000101,N,1.0,42,42,1.0,0.44,3.5,0.50,0.5,...,1.0,0.00,2022,1,1,00:14:21,1,00:15:33,00:01:12,Green
1,000000000000201,N,1.0,116,41,1.0,2.10,9.5,0.50,0.5,...,1.0,0.00,2022,1,1,00:20:55,1,00:29:38,00:08:43,Green
2,000000000000301,N,1.0,41,140,1.0,3.70,14.5,3.25,0.5,...,1.0,2.75,2022,1,1,00:57:02,1,01:13:14,00:16:12,Green
3,000000000000401,N,1.0,181,181,1.0,1.69,8.0,0.50,0.5,...,1.0,0.00,2022,1,1,00:07:42,1,00:15:57,00:08:15,Green
4,000000000000501,N,1.0,33,170,1.0,6.26,22.0,0.50,0.5,...,1.0,2.75,2022,1,1,00:07:50,1,00:28:52,00:21:02,Green

VERIFICAMOS TIPO DE DATOS

In [73]:
df_green_trip_data_2018_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17952772 entries, 0 to 17952771
Data columns (total 13 columns):
 #   Column                Dtype
---  ------                -----
 0   PULocationID          int64
 1   DOLocationID          int64
 2   passenger_count       float64
 3   trip_distance         float64
 4   congestion_surcharge  float64
 5   anio                  int32
 6   mes                   int32
 7   dia_inicio            int32
 8   hora_inicio           object
 9   dia_fin               int32
 10  hora_fin              object
 11  total_tiempo          object
 12  tipo_color            object
dtypes: float64(3), int32(4), int64(2), object(4)
memory usage: 1.5+ GB

In [74]:
df_green_trip_data_2022_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1627415 entries, 0 to 1627414
Data columns (total 25 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   viaje_Id               1627415 non-null  object
 1   store_and_fwd_flag     1481464 non-null  object
 2   RatecodeID             1627415 non-null  float64
 3   PULocationID           1627415 non-null  int64
 4   DOLocationID           1627415 non-null  int64
 5   passenger_count        1627415 non-null  float64
 6   trip_distance          1627415 non-null  float64
 7   fare_amount            1627415 non-null  float64
 8   extra                  1627415 non-null  float64
 9   mta_tax                1627415 non-null  float64
 10  tip_amount             1627415 non-null  float64
 11  tolls_amount           1627415 non-null  float64
 12  improvement_surcharge  1627415 non-null  float64
 13  total_amount           1627415 non-null  float64
 14  payment_type           1627415 non-null  float64
 15  trip_type              1627415 non-null  float64
 16  congestion_surcharge   1627415 non-null  float64
 17  anio                   1627415 non-null  int32
 18  mes                    1627415 non-null  int32
 19  dia_inicio             1627415 non-null  int32
 20  hora_inicio            1627415 non-null  object
 21  dia_fin                1627415 non-null  int32
 22  hora_fin               1627415 non-null  object
 23  total_tiempo           1627415 non-null  object
 24  tipo_color             1627415 non-null  object
dtypes: float64(13), int32(4), int64(2), object(6)
memory usage: 285.6+ MB

CAMBIAMOS LOS TIPOS DE DATOS

In [75]:
# cambiamos los tipos de datos
df_green_trip_data_2018_2021['passenger_count'] = df_green_trip_data_2018_2021['passenger_count'].astype(int)
df_green_trip_data_2022_2023['passenger_count'] = df_green_trip_data_2022_2023['passenger_count'].astype(int)

df_green_trip_data_2022_2023['store_and_fwd_flag'] = df_green_trip_data_2022_2023['store_and_fwd_flag'].astype(str)

df_green_trip_data_2022_2023['RatecodeID'] = df_green_trip_data_2022_2023['RatecodeID'].astype(int)

df_green_trip_data_2022_2023['payment_type'] = df_green_trip_data_2022_2023['payment_type'].astype(int)

df_green_trip_data_2022_2023['trip_type'] = df_green_trip_data_2022_2023['trip_type'].astype(int)

df_green_trip_data_2022_2023['tipo_color'] = df_green_trip_data_2022_2023['tipo_color'].astype(str)

In [76]:
#verificamos los tipos de datos
df_green_trip_data_2018_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17952772 entries, 0 to 17952771
Data columns (total 13 columns):
 #   Column                Dtype
---  ------                -----
 0   PULocationID          int64
 1   DOLocationID          int64
 2   passenger_count       int32
 3   trip_distance         float64
 4   congestion_surcharge  float64
 5   anio                  int32
 6   mes                   int32
 7   dia_inicio            int32
 8   hora_inicio           object
 9   dia_fin               int32
 10  hora_fin              object
 11  total_tiempo          object
 12  tipo_color            object
dtypes: float64(2), int32(5), int64(2), object(4)
memory usage: 1.4+ GB

In [77]:
df_green_trip_data_2022_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1627415 entries, 0 to 1627414
Data columns (total 25 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   viaje_Id               1627415 non-null  object
 1   store_and_fwd_flag     1627415 non-null  object
 2   RatecodeID             1627415 non-null  int32
 3   PULocationID           1627415 non-null  int64
 4   DOLocationID           1627415 non-null  int64
 5   passenger_count        1627415 non-null  int32
 6   trip_distance          1627415 non-null  float64
 7   fare_amount            1627415 non-null  float64
 8   extra                  1627415 non-null  float64
 9   mta_tax                1627415 non-null  float64
 10  tip_amount             1627415 non-null  float64
 11  tolls_amount           1627415 non-null  float64
 12  improvement_surcharge  1627415 non-null  float64
 13  total_amount           1627415 non-null  float64
 14  payment_type           1627415 non-null  int32
 15  trip_type              1627415 non-null  int32
 16  congestion_surcharge   1627415 non-null  float64
 17  anio                   1627415 non-null  int32
 18  mes                    1627415 non-null  int32
 19  dia_inicio             1627415 non-null  int32
 20  hora_inicio            1627415 non-null  object
 21  dia_fin                1627415 non-null  int32
 22  hora_fin               1627415 non-null  object
 23  total_tiempo           1627415 non-null  object
 24  tipo_color             1627415 non-null  object
dtypes: float64(9), int32(8), int64(2), object(6)
memory usage: 260.7+ MB

RENOMBRAMOS COLUMNAS

In [78]:
df_green_trip_data_2022_2023.columns

Index(['viaje_Id', 'store_and_fwd_flag', 'RatecodeID', 'PULocationID',
       'DOLocationID', 'passenger_count', 'trip_distance', 'fare_amount',
       'extra', 'mta_tax', 'tip_amount', 'tolls_amount',
       'improvement_surcharge', 'total_amount', 'payment_type', 'trip_type',
       'congestion_surcharge', 'anio', 'mes', 'dia_inicio', 'hora_inicio',
       'dia_fin', 'hora_fin', 'total_tiempo', 'tipo_color'],
      dtype='object')

In [79]:
nombres_nuevos = {
    'store_and_fwd_flag': 'conexion_servidor',
    'RatecodeID': 'tipo_tarifa','PULocationID':'ubicacion_inicio',
    'DOLocationID':'ubicacion_fin','passenger_count':'pax',
    'trip_distance':'distancia_viaje','fare_amount':'viaje_bruto',
    'mta_tax':'impuesto_mta','tip_amount':'propina','tolls_amount':'peajes',
    'improvement_surcharge':'cargo_mejora','total_amount': 'monto_total',
    'payment_type':'forma_pago','trip_type': 'tipo_inicio','congestion_surcharge':'cargo_congestion',
    
}

# Renombrar las columnas específicas
df_green_trip_data_2022_2023.rename(columns=nombres_nuevos, inplace=True)

In [82]:
df_green_trip_data_2018_2021.columns

Index(['ubicacion_inicio', 'ubicacion_fin', 'pax', 'distancia_viaje',
       'cargo_congestion', 'anio', 'mes', 'dia_inicio', 'hora_inicio',
       'dia_fin', 'hora_fin', 'total_tiempo', 'tipo_color'],
      dtype='object')

In [81]:
nombres_nuevos = {
    'PULocationID':'ubicacion_inicio',
    'DOLocationID':'ubicacion_fin','passenger_count':'pax',
    'trip_distance':'distancia_viaje',
    'congestion_surcharge':'cargo_congestion'
    
}

# Renombrar las columnas específicas
df_green_trip_data_2018_2021.rename(columns=nombres_nuevos, inplace=True)

In [83]:
df_green_trip_data_2018_2021.to_parquet('E:\PF_SDT\Datasets\green_trip_data_2018_2021.parquet')
df_green_trip_data_2022_2023.to_parquet('E:\PF_SDT\Datasets\green_trip_data_2022_2023.parquet')

In [84]:
del df_green_trip_data_2022_2023,df_green_trip_data_2018_2021